---
import { /*CollectionEntry*/ getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const posts = await getCollection("posts");

    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

// type Props = {
//   post: CollectionEntry<"posts">;
// };

const { post } = Astro.props;
const { Content } = await post.render();
---

<!-- <Layout title={post.data.title} description={post.data.description}> -->
<Layout title={post.data.title}>
    <main class="flex flex-col items-center">
        <div class="mt-24 px-6 max-w-screen-xl">
            <header role="presentation">
                <h1 class="text-md">
                    {post.data.title} - {post.data.publishedAt}
                </h1>
                <p class="italic">{post.data.description}</p>
            </header>

            <Content />
        </div>
    </main>
</Layout>
