---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import workExperience from "../data/workExperience";

const startDate = new Date("2017-04-01");
const currentDate = new Date();

const monthsOfExperience =
	(currentDate.getFullYear() - startDate.getFullYear()) * 12 +
	(currentDate.getMonth() - startDate.getMonth());
const yearsOfExperience = Math.floor(monthsOfExperience / 12);
---

<Layout title="Pablo Bianco - Portfolios">
	<main class="flex flex-col items-center px-6">
		<section class="my-8 w-full">
			<!-- work in progress text-->
			<h>Work in progres....</h>
			<div>
				<h1 class="text-4xl font-bold text-white mb-4">
					Welcome to <span class="text-gradient">Pablo Bianco's</span>
					Portfolios
				</h1>
			</div>
			<div>
				<p class="text-gray-300">
					I am a Sr. Fullstack Developer living in Sydney, Australia.
					I have {yearsOfExperience} years of experience in software development.
					I specialize in .Net, Angular, and Vue. I enjoy learning new
					technologies and building innovative solutions.
				</p>
			</div>
		</section>
		<section class="my-8 w-full">
			<h2 class="text-xl font-bold text-white mb-4">
				Technologies I Use
			</h2>
			<ul class="flex justify-normal sm:justify-center space-x-4">
				<li class="text-center text-gray-300">
					<img
						src="/icons/net.svg"
						alt="Net"
						class="w-6 h-6 mx-auto"
					/>
				</li>
				<li class="text-center text-gray-300">
					<img
						src="/icons/angular.svg"
						alt="Angular"
						class="w-6 h-6 mx-auto"
					/>
				</li>
				<li class="text-center text-gray-300">
					<img
						src="/icons/vue.svg"
						alt="Vue"
						class="w-6 h-6 mx-auto"
					/>
				</li>
				<li class="text-center text-gray-300">
					<img
						src="/icons/aws.svg"
						alt="aws"
						class="w-6 h-6 mx-auto"
					/>
				</li>
			</ul>
		</section>
		<section class="my-8 w-full">
			<h2 class="text-2xl font-bold text-white mb-4" id="my-experience">
				My Experience
			</h2>
			<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
				{
					workExperience.map((experience) => (
						<Card
							company={experience.company}
							position={experience.position}
							duration={experience.duration}
							description={experience.description}
						/>
					))
				}
			</ul>
		</section>
		<section class="my-8 w-full">
			<h2 class="text-2xl font-bold text-white mb-4">My Education</h2>
			<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
				<Card
					company="I.M.A.G.E. Campus"
					position="Diploma in Video Game Design and Development (3 years)"
					duration="Dec 2020"
					description="During my time at I.M.A.G.E. Campus, I delved deeply into video game design and development, focusing on Unity3D, C++ game engine construction, design principles, storytelling, team management, and game physics. This immersive experience allowed me to blend creativity with technical expertise to create engaging and interactive gaming experiences."
				/>
			</ul>
		</section>
	</main>
</Layout>

<style>
	:root {
		--text-gradient: linear-gradient(90deg, yellow 0%, red 100%);
		--background-color: #1f1f1f;
		--text-color: #ffffff;
	}
	.text-gradient {
		background: var(--text-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	body {
		background-color: var(--background-color);
		color: var(--text-color);
	}
</style>
