---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import workExperience from "../data/workExperience";
import { getImage } from "astro:assets";
import backgroundImage from "../assets/coding-background.jpg";
const optimizedBackgroundImage = await getImage({ src: backgroundImage });

const startDate = new Date("2017-04-01");
const currentDate = new Date();

const monthsOfExperience =
	(currentDate.getFullYear() - startDate.getFullYear()) * 12 +
	(currentDate.getMonth() - startDate.getMonth());
const yearsOfExperience = Math.floor(monthsOfExperience / 12);
---

<Layout title="Pablo Bianco - Portfolios">
	<main class="flex flex-col items-center">
		<div class="min-h-96 w-full relative">
			<div
				class="-z-10 absolute inset-0 bg-cover bg-center"
				style={`background-image: url('${optimizedBackgroundImage.src}'); filter: brightness(0.5);`}
			>
			</div>
			<div
				class="px-8 h-96 w-full flex flex-col items-center justify-center"
			>
				<h1
					class="text-2xl font-bold text-white mb-4 text-center"
				>
					Hi, this is
				</h1>
				<h1
					class="text-4xl font-bold text-white mb-4 text-center text-gradient"
				>
					Pablo Bianco
				</h1>
				<p class="text-gray-300 font-bold shadow-lg mb-4 text-center">
					Full stack developer living in Sydney, Australia
				</p>
				<ul class="flex justify-center space-x-4">
					<li class="text-center text-gray-300">
						<img
							src="/icons/net.svg"
							alt="Net"
							class="w-8 h-8 mx-auto"
						/>
					</li>
					<li class="text-center text-gray-300">
						<img
							src="/icons/angular.svg"
							alt="Angular"
							class="w-8 h-8 mx-auto"
						/>
					</li>
					<li class="text-center text-gray-300">
						<img
							src="/icons/vue.svg"
							alt="Vue"
							class="w-8 h-8 mx-auto"
						/>
					</li>
					<li class="text-center text-gray-300">
						<img
							src="/icons/aws.svg"
							alt="aws"
							class="w-8 h-8 mx-auto"
						/>
					</li>
				</ul>
			</div>
		</div>
		<section class="my-8 px-6 max-w-3xl">
			<h2 class="text-2xl font-bold text-white mb-4" id="my-experience">
				My Experience
			</h2>
			<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
				{
					workExperience.map((experience) => (
						<Card
							company={experience.company}
							position={experience.position}
							duration={experience.duration}
							description={experience.description}
						/>
					))
				}
			</ul>
		</section>
		<section class="my-8 px-6 max-w-3xl">
			<h2 class="text-2xl font-bold text-white mb-4">My Education</h2>
			<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
				<Card
					company="I.M.A.G.E. Campus"
					position="Diploma in Video Game Design and Development (3 years)"
					duration="Dec 2020"
					description="During my time at I.M.A.G.E. Campus, I delved deeply into video game design and development, focusing on Unity3D, C++ game engine construction, design principles, storytelling, team management, and game physics. This immersive experience allowed me to blend creativity with technical expertise to create engaging and interactive gaming experiences."
				/>
			</ul>
		</section>
	</main>
</Layout>

<style>
	:root {
		--text-gradient: linear-gradient(90deg, rgb(255, 157, 0) 0%, red 100%);

	}
	.text-gradient {
		background: var(--text-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	body {
		background-color: var(--background-color);
		color: var(--text-color);
	}
</style>
